body{
	background-color: #f9f9f9;
}
.search-container{
	background-color: white;
	width: 80%;
	margin: 0 auto;
}
.search-form input{
	border-style: none;
	border: 0;
	border-bottom: 2px solid #f9f9f9;
	height: 40px;
	line-height: 40px;
	margin: 40px;
	padding-left: 20px;
	font-size: 16px;
	width: calc(100% - 80px);

}

.listed-movies{
	list-style: none;
}

.listed-movies li {
    display: inline-block;
    padding: 20px;
    width: 29%;
    font-family: sans-serif;
}

.listed-movies li img{
	width: 100%;
}